{
  "presets": ["next/babel", ["@babel/preset-env", { "modules": false }]],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "~/assets": "./src/assets",
          "~/collections": "./src/collections",
          "~/components": "./src/components",
          "~/context": "./src/context",
          "~/data": "./src/data",
          "~/hooks": "./src/hooks",
          "~/services": "./src/services",
          "~/sections": "./src/sections",
          "~/styles": "./src/styles",
          "~/types": "./src/types",
          "~/utils": "./src/utils"
        }
      }
    ]
  ]
}
